.notification_area {
    left: unset;
}

.text-blink {
    animation: blink linear 2s infinite;
}

.t-d-none,
.t-d-none:hover,
.t-d-none:active,
.t-d-none:focus {
    text-decoration: none;
}

@keyframes blink {
    0% {opacity: 100}
    50% {opacity: 50%}
    100% {opacity: 100%}
}
